pekepad/output/*
pekepad/pcbs/fp-info-cache
pekepad/pcbs/*-backups
node_modules/
pekeboard/output/*
pekeboard/pcbs/fp-info-cache
pekeboard/pcbs/*-backups
pekepad-v/pcbs/*-backups
pekepad-v/pcbs/fp-info-cache
pekepad-v/output/*